section:nth-child(1) {
    width: 100%;
    height: 100vh;
   header {
    ul:nth-child(1) {

    }
    ul:nth-child(2){

    }
   } 
   img {
    width: 100%;
    height: 100%;
   }
}

section {
    display: block;
    .cards {
        border-radius: 4px;
        overflow: hidden;
        .card {
            border-radius: 4px;
            img {
                border-radius: 4px;
                height: 100%;
            }
        }

        .card:nth-child(1) {
            img {
                height: 100%;
            }
        }
    }
}